# API Configuration
# Para desarrollo local, usa localhost:puerto
# Para producción en Vercel, asegúrate de configurar esto en las variables de entorno de Vercel
VITE_API_URL=https://alojamientojj-dabge3g4eufvd8a2.mexicocentral-01.azurewebsites.net
